<h2>Meal Name: <%= @meal.name %> </h2>
<h2>Meal Author: <%=@meal.user.full_name %> </h2>
<table>
    <tr>
        <th>Recipe Name <%= link_to "See Meal", "/meals/#{meal_id}" %></th>
        <th>Recipe Author</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Prep Time</th>
        <th>Instructions</th>
    </tr>
    <% @meal.recipes.each do |recipe| %>
    <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.user.full_name %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.prep_time %></td>
        <td><%= recipe.instructions %></td>
        <!-- <button type="button" class="" ></button> -->
    </tr>
    <% end %>
</table>