    <!-- Header -->
    <header style="background-image: url(<%=image_path 'backgrounds/bg-header.jpg'%>)">
        <div class="intro-content">
        <%= image_tag "people/profile.png", :class => "img-centered"%>
             <!-- <img src="img/culinary/profile.png" class="img-responsive img-centered" alt=""> -->
        </div>
        <div class="scroll-down">
            <a class="btn page-scroll" href="#values"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>


<h1>Login</h1>
<%= form_tag '/login', method: :post do %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>