<h1>Edit Recipe</h1>
 <%= form_tag "/recipes/#{params[:id]}", method: :patch do %>
   
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :ingredients %>
    <%= text_field_tag :ingredients %>
  </div>
  <div>
    <%= label_tag :prep_time %>
    <%= text_field_tag :prep_time %>
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description %>
  </div>
  <div>
    <%= label_tag :instructions %>
    <%= text_field_tag :instructions %>
  </div>
  <div>
  <%= submit_tag "Update Recipe!" %>
  </div>
 
 <% end %> 

 