<div class="row white-text" style="background-image: url(<%=image_path 'backgrounds/bg-footer.jpg'%>)">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 class="h2signupform">Update Recipe</h1>
    <%= form_tag "/recipes/#{@recipe.id}", method: :patch do %>
      
      <div class="form-group">
        <%= label_tag :name %>
        <%= text_field_tag :name, @recipe.name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :description %>
        <%= text_field_tag :description, @recipe.description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :ingredients %>
        <%= text_field_tag :ingredients, @recipe.ingredients, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :prep_time %>
        <%= text_field_tag :prep_time, @recipe.prep_time, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :instructions %>
        <%= text_field_tag :instructions, @recipe.instructions, class: "form-control" %>
      </div>
      <div class="form-group dark-text">
        <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-block btn-full-width sign-up-form-button-center update-spacing">Update Recipe!</button>
          </div>
          <div class="col-sm-1"></div>
        </div>

<!-- 


      <div class="dark-text update-spacing">
        <%= submit_tag "Update Recipe" %>
      </div> -->

    <% end %>
  </div>
</div>
