<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <h1>Recipes:</h1>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Prep Time</th>
        <th>Instructions</th>
      </tr>
      <% if !@recipes.empty? %>
        <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.name, "/recipes/#{recipe.id}" %></td>
          <td><%= recipe.description %></td>
          <td><%= recipe.ingredients %></td>
          <td><%= recipe.prep_time %></td>
          <td><%= recipe.instructions %></td>
          <% if current_user.id  == recipe.user.id %>
            <td><%=link_to "Edit", "/recipes/#{recipe.id}/edit" %></td>
            <td><%=link_to "Delete", "/recipes/#{recipe.id}", method: :delete %></td>
          <% end %>
        </tr>
        <% end %>
      <% else %>
        <p>No information was passed through.</p>
      <% end %>
    </table>
  </div>
</div>




















