

<h1>Cooked Life</h1>
<% if current_user %>
<h2>I didn't choose the cooked life, the cooked life chose me.</h2>
  <p><%= link_to "My Recipes", "/recipes?filter=current_user" %></p>
  <p><%= link_to "All Recipes", "/recipes" %></p>
  <p><%= link_to "Add Recipe", "/recipes/new" %></p>
<% end %>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Ingredients</th>
    <th>Prep Time</th>
    <th>Instructions</th>
  </tr>
  <% if !@recipes.empty? %>
    <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.name, "/recipes/#{recipe.id}" %></td>
      <td><%= recipe.description %></td>
      <td><%= recipe.ingredients %></td>
      <td><%= recipe.prep_time %></td>
      <td><%= recipe.instructions %></td>
      <td><%=link_to "Edit", "/recipes/#{recipe.id}/edit" %></td>
      <td><%=link_to "Delete", "/recipes/#{recipe.id}", method: :delete %></td>
    </tr>
    <% end %>
  <% else %>
    <p>No information was passed through.</p>
  <% end %>
</table>




















