<div class="row white-text" style="background-image: url(<%=image_path 'backgrounds/bg-footer.jpg'%>)">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="font_for_h2s">Let's make a recipe!</h2>
      <%= form_tag "/recipes", method: :post do %>

        <div class="form-group">
          <%= label_tag :Name %>
          <%= text_field_tag :name, "", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :description %>
          <%= text_field_tag :description, "", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :prep_time %>
          <%= text_field_tag :prep_time, "", class: "form-control" %>
        </div>
        <div class="form-group text_area_tag">
          <%= label_tag :ingredients %>
          <%= text_area_tag :ingredients, "", class: "form-control" %>
        </div>
        <div class="form-group text_area_tag">
          <%= label_tag :instructions %>
          <%= text_area_tag :instructions, "", class: "form-control" %>
        </div>
        <div class="form-group dark-text">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-block btn-full-width ">Create Recipe!</button>
          </div>
          <div>
            empty space
          </div>
        </div>
        <!-- <div class="form-group dark-text">
          <%= submit_tag "Create Recipe!" %>
        </div> -->
      <% end %>
  </div>
</div>