<%= link_to "To current user's recipes", "/users/#{current_user.id}" %>
<ul>
  <li>User: <%= @recipe.user.full_name %></li>
  <li>Recipe Name: <%= @recipe.name %></li>
  <li>Description: <%= @recipe.description %></li>
  <li>Prep Time: <%= @recipe.prep_time %></li>
  <li>Instructions: <%= @recipe.instructions %></li>
    <ul>Ingredients: 
    <%= @recipe.ingredients %>
    </ul>
  <li>Prep Time: <%= @recipe.prep_time %></li>
</ul>
