<header style="background-image: url(<%=image_path 'backgrounds/bg-header.jpg'%>)">
        <div class="intro-content">
        <%= image_tag "people/profile.png", :class => "img-centered"%>
             <!-- <img src="img/culinary/profile.png" class="img-responsive img-centered" alt=""> -->
        </div>
        <div class="scroll-down">
            <a class="btn page-scroll" href="#values"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>
<h1>Users</h1>
<p><%= link_to "My Information", "/users/#{current_user.id}" %></p>
<table class="table table-hover">
  <tr>
    <th>Name</th>

    <th>Email</th>
  </tr>
  <% if !@users.empty? %>
      <% @users.each do |user| %>
    <tr> 
      <td><%= link_to user.full_name, "/users/#{user.id}" %></td>
     
      <td><%= user.email %></td>
      <% end %>
    <% else %>
      <td>No information passed through</td>
    </tr>
    <% end %>
</table>

