<h1>Create User</h1>
<%= form_tag "/users/#{params[:id]}", method: :post do%>

  <div>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name %>
  </div>
  <div>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name %>
  </div>
  <div>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  </div>
  <div>
  <%= label_tag :password %>
  <%= text_field_tag :password %>
  </div>
  <div>
  <%= label_tag :confirm_password %>
  <%= text_field_tag :confirm_password %>
  </div>
  <%= submit_tag "Create User" %>
  </div>
<% end %>