<div class="row white-text" style="background-image: url(<%=image_path 'backgrounds/bg-aside.jpg'%>)">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 class="login-center user-show-margins-unique"><%= @user.full_name %></h2>
    <h4 class="login-center user-show-margins-unique  "><%= @user.email %> </h4>
    <table class="table white-text">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Prep Time</th>
        <th>Instructions</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% if !@user.recipes.empty? %>
        <% @user.recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.name, "/recipes/#{recipe.id}" %></td>
          <td><%= recipe.description %></td>
          <td><%= recipe.ingredients %></td>
          <td><%= recipe.prep_time %></td>
          <td><%= recipe.instructions %></td>
          <% if current_user.id  == recipe.user.id %>
            <td><%=link_to "Edit", "/recipes/#{recipe.id}/edit" %></td>
            <td><%=link_to "Delete", "/recipes/#{recipe.id}", method: :delete %></td>
          <% end %>
        </tr>
        <% end %>
      <% else %>
        <p class="white-text">No information was passed through.</p>
      <% end %>
    </table>
  </div>
</div>