<div class="row white-text" style="background-image: url(<%=image_path 'backgrounds/bg-header.jpg'%>)">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 class="update-spacing">Meal Name: <%= @meal.name %> </h2>
    <h4 class="">Meal Author: <%=@meal.user.full_name %> </h4>
    <table class="table">
    <% if  %>
        <tr>
            <th>Recipe Name </th>
            <th>Recipe Author</th>
            <th>Description</th>
            <th>Prep Time</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <!-- <th>See Recipe's Page</th> -->
            
        </tr>
        <% @meal.recipes.each do |recipe| %>
        <tr>
            <!-- <button type="button" class="" ></button> -->
            <td><%= link_to recipe.name, "/recipes/#{recipe.id}" %></td>
            <td><%= recipe.user.full_name %></td>
            <td><%= recipe.description %></td>
            <td><%= recipe.prep_time %></td>
            <td><%= recipe.ingredients %></td>
            <td><%= recipe.instructions %></td> 
        <% end %>        
        </tr>
        <% end %>
    </table>
  </div>
</div>